<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793509/blob/main/Semana%204%20-%20Data%20Analysis%20with%20Python%20(IBM)%20(M%C3%B3dulo%201).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---

üìÖ Semana 4

üöÄ Curso: Data Analysis with Python (IBM: DA0101EN)

üìñ M√≥dulo 1

Alberto Jos√© Garc√≠a Porras (**A01793509**)


---

‚ö† **Librerias m√°s importantes para an√°lisis de datos en Python:**


*   Librer√≠as de c√≥mputo cient√≠fico: **PANDAS** (Dataframe), **NUMPY** (Arrays & Matrices) y **SCIPY** (Advanced math problems).


*   Librer√≠as de visualizaci√≥n: **MATPLOTLIB** (plots & graphs) y **SEABORN** (heat maps, time series, violin plots).


*   Librer√≠as de algoritmos: **SCIKIT-LEART** (machine learning, regression, clustering y classification) fue constru√≠da con las anteriores librer√≠as y **STATSMODELS** (explore data, estimate statistical models and perform statistical tests).

---
üîΩ **1. ADQUISICI√ìN DE LOS DATOS:** Es el proceso de obtener y leer los datos.

   *  Formato: es la forma en la que los datos est√°n codificados.

   *  Ruta: el lugar donde se encuentra la data almacenada.


---

‚òù **NOTA:** Cada registro en el archivo es considerado un punto de dato, por lo anterior, cada punto de dato tiene m√∫ltiples atributos.

---
**Pandas (Comandos de lectura de archivos):** El m√©todo **read_csv()** nos permite leer archivos con columnas separadas por coma e introducir esta data en un dataframe. El m√©todo **read_json()** nos permite leer archivos con estructura json e introducir esta data en un dataframe. El m√©todo **read_excel()** nos permite leer archivos de Excel e introducir esta data en un dataframe. El m√©todo **read_sql()** nos permite leer archivos en lenguaje SQL e introducir esta data en un dataframe.

---

In [10]:
#Importamos la librer√≠a pandas y leemos el archivo auto.csv que se encuentra en una ruta p√∫blica de internet guardando los datos en un dataframe
import pandas as pd
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(url, header = None)
#Visualizamos los primeros 10 registros
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [11]:
#Ahora le asignaremos nombres a las columnas, para ello creamos una lista con los nombres de las columnas
CabColumnas = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
#Asignamos a las cabeceras de las columnas los nombres definidos
df.columns = CabColumnas
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [13]:
#Importamos la librer√≠a Numpy para realizar
import numpy as np

#Teniendo en cuenta que en la columna "normalized-losses" tenemos valores errados (?) los reemplazaremos con NAN (Not A Number)
df.replace('?',np.NaN)

#Teniendo en cuenta que en la columna "price" hay valores perdidos los eliminamos del conjunto
df.dropna(subset=["price"], axis=0)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

---
‚è≠ **2. EXPORTAR LOS DATOS:** Es el proceso de guardar los datos le√≠dos y procesados en un fichero.

   *  Formato: es la forma en la que los datos est√°n codificados.

   *  Ruta: el lugar donde se encuentra la data almacenada.

**Pandas (Comandos de guardado de archivos):** El m√©todo **to_csv()** nos permite almacenar archivos en formato csv. El m√©todo **to_json()** nos permite almacenar archivos en formato json. El m√©todo **to_excel()** nos permite almacenar archivos en formato Excel. El m√©todo **to_sql()** nos permite almacenar archivos en formato sql.

---

In [14]:
#Ahora tomaremos el dataframe y lo almacenaremos localmente en el equipo
df.to_csv("D:\automobile.csv", index=False)



---
‚òù**NOTA:** Antes de proceder con el an√°lisis de los datos debemos entenderlos, validando el tipo de datos que recibimos y la distribuci√≥n de los mismos. Esto nos permitir√° identificar inconsistencias en los datos recibidos o asignaci√≥n erronea de tipo de datos que debamos corregir, con el fin de que podamos realizar los c√°lculos y ejecutar los m√©todos requeridos durante nuestro an√°lisis. Al proceso de explorar y entender los datos le llamamos **INSIGHTS**.


---

In [18]:
#Verificamos el tipo de dato para identificar las columnas con tipo de dato errado y as√≠ corregirlas.
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [19]:
#Asimismo podemos validar datos estad√≠sticos de nuestras columnas num√©ricas con el fin de detectar rangos o valores at√≠picos.
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [23]:
#Si queremos evaluar los datos estad√≠sticos de nuestras columnas no numer√≠cas agregamos la instrucci√≥n include = "all".
df.describe(include="all")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

‚Ñπ Como podemos observar en las columnas que por su tipo no se puede obtener un valor estad√≠stico, el sistema le asignar√° el valor "NaN".

In [24]:
#Podemos tambi√©n obtener los datos estad√≠sticos de columnas espec√≠ficas
df[['symboling', 'engine-size']].describe()

        symboling  engine-size
count  205.000000   205.000000
mean     0.834146   126.907317
std      1.245307    41.642693
min     -2.000000    61.000000
25%      0.000000    97.000000
50%      1.000000   120.000000
75%      2.000000   141.000000
max      3.000000   326.000000